<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.qsapp.QuicksilverPlugin</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>A starting point for Quicksilver plug-ins.</string>
	<key>SortOrder</key>
	<integer>5</integer>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.bundleBase</string>
		<string>com.apple.dt.unit.macBase</string>
	</array>
	<key>Project</key>
	<dict>
		<key>BasedOn</key>
		<dict>
			<key>Debug</key>
			<string>Configuration/Debug.xcconfig</string>
			<key>Release</key>
			<string>Configuration/Release.xcconfig</string>
		</dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict/>
			<key>Release</key>
			<dict/>
		</dict>
		<key>SharedSettings</key>
		<dict/>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.bundle</string>
			<key>SharedSettings</key>
			<dict>
				<key>WRAPPER_EXTENSION</key>
				<string>qsplugin</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShellScript</key>
					<string>&quot;$SRCROOT/___PACKAGENAME___/bltrversion&quot; &quot;$INFOPLIST_FILE&quot;</string>
					<key>RunOnlyForDeploymentPostprocessing</key>
					<true/>
				</dict>
			</array>
			<key>Frameworks</key>
			<array/>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict/>
				<key>Release</key>
				<dict/>
			</dict>
			<key>BasedOn</key>
			<dict>
				<key>Debug</key>
				<string>Configuration/QSPlugIn_Debug.xcconfig</string>
				<key>Release</key>
				<string>Configuration/QSPlugIn_Release.xcconfig</string>
			</dict>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>quicksilverplugin</string>
			<key>Name</key>
			<string>Plug-in Type</string>
			<key>Description</key>
			<string>What type of plug-in.</string>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>Standard</string>
			<key>Units</key>
			<dict>
				<key>Standard</key>
				<dict>
					<key>Targets</key>
					<array>
						<dict>
							<key>Frameworks</key>
							<array>
								<string>Cocoa</string>
							</array>
						</dict>
					</array>
					<key>Nodes</key>
					<array>
						<string>___PACKAGENAMEASIDENTIFIER___Action.h</string>
						<string>___PACKAGENAMEASIDENTIFIER___Action.m</string>
						<string>___PACKAGENAMEASIDENTIFIER___Source.h</string>
						<string>___PACKAGENAMEASIDENTIFIER___Source.m</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>___PACKAGENAMEASIDENTIFIER___Action.h</key>
						<dict>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___Action.h</string>
						</dict>
						<key>___PACKAGENAMEASIDENTIFIER___Action.m</key>
						<dict>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___Action.m</string>
						</dict>
						<key>___PACKAGENAMEASIDENTIFIER___Source.h</key>
						<dict>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___Source.h</string>
						</dict>
						<key>___PACKAGENAMEASIDENTIFIER___Source.m</key>
						<dict>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___Source.m</string>
						</dict>
					</dict>
				</dict>
				<key>Scripting Bridge</key>
				<dict>
					<key>Targets</key>
					<array>
						<dict>
							<key>Frameworks</key>
							<array>
								<string>Cocoa</string>
								<string>ScriptingBridge</string>
							</array>
						</dict>
					</array>
					<key>Nodes</key>
					<array>
						<string>___PACKAGENAMEASIDENTIFIER___Action.h</string>
						<string>___PACKAGENAMEASIDENTIFIER___Action.m</string>
						<string>___PACKAGENAMEASIDENTIFIER___Source.h</string>
						<string>___PACKAGENAMEASIDENTIFIER___Source.m</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>___PACKAGENAMEASIDENTIFIER___Action.h</key>
						<dict>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___Action.h</string>
						</dict>
						<key>___PACKAGENAMEASIDENTIFIER___Action.m</key>
						<dict>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___Action.m</string>
						</dict>
						<key>___PACKAGENAMEASIDENTIFIER___Source.h</key>
						<dict>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___Source.h</string>
						</dict>
						<key>___PACKAGENAMEASIDENTIFIER___Source.m</key>
						<dict>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___Source.m</string>
						</dict>
					</dict>
				</dict>
				<key>Interface</key>
				<dict>
					<key>Targets</key>
					<array>
						<dict>
							<key>Frameworks</key>
							<array>
								<string>Cocoa</string>
							</array>
						</dict>
					</array>
					<key>Nodes</key>
					<array>
						<string>___PACKAGENAMEASIDENTIFIER___Action.h</string>
						<string>___PACKAGENAMEASIDENTIFIER___Action.m</string>
						<string>___PACKAGENAMEASIDENTIFIER___Source.h</string>
						<string>___PACKAGENAMEASIDENTIFIER___Source.m</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>___PACKAGENAMEASIDENTIFIER___Action.h</key>
						<dict>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___Action.h</string>
						</dict>
						<key>___PACKAGENAMEASIDENTIFIER___Action.m</key>
						<dict>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___Action.m</string>
						</dict>
						<key>___PACKAGENAMEASIDENTIFIER___Source.h</key>
						<dict>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___Source.h</string>
						</dict>
						<key>___PACKAGENAMEASIDENTIFIER___Source.m</key>
						<dict>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___Source.m</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAME___-Info.plist:qsplugin</string>
		<string>Configuration</string>
		<string>bltrversion</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>___PACKAGENAME___-Info.plist:qsplugin</key>
		<string>&lt;key&gt;CFBundleDevelopmentRegion&lt;/key&gt;
&lt;string&gt;English&lt;/string&gt;
&lt;key&gt;CFBundleExecutable&lt;/key&gt;
&lt;string&gt;${EXECUTABLE_NAME}&lt;/string&gt;
&lt;key&gt;CFBundleIconFile&lt;/key&gt;
&lt;string/&gt;
&lt;key&gt;CFBundleInfoDictionaryVersion&lt;/key&gt;
&lt;string&gt;6.0&lt;/string&gt;
&lt;key&gt;CFBundleName&lt;/key&gt;
&lt;string&gt;${PRODUCT_NAME}&lt;/string&gt;
&lt;key&gt;CFBundlePackageType&lt;/key&gt;
&lt;string&gt;BNDL&lt;/string&gt;
&lt;key&gt;CFBundleSignature&lt;/key&gt;
&lt;string&gt;????&lt;/string&gt;
&lt;key&gt;CFBundleVersion&lt;/key&gt;
&lt;string&gt;1.0&lt;/string&gt;
&lt;key&gt;QSPlugIn&lt;/key&gt;
&lt;dict&gt;
	&lt;key&gt;author&lt;/key&gt;
	&lt;string&gt;___FULLUSERNAME___&lt;/string&gt;
	&lt;key&gt;categories&lt;/key&gt;
	&lt;array&gt;
		&lt;string&gt;Applications&lt;/string&gt;
	&lt;/array&gt;
	&lt;key&gt;description&lt;/key&gt;
	&lt;string&gt;One-line summary for this plug-in&lt;/string&gt;
	&lt;key&gt;extendedDescription&lt;/key&gt;
	&lt;string&gt;HTML formatted documentation for this plug-in.&lt;/string&gt;
	&lt;key&gt;icon&lt;/key&gt;
	&lt;string&gt;KEXT&lt;/string&gt;
&lt;/dict&gt;
&lt;key&gt;QSActions&lt;/key&gt;
&lt;dict&gt;
	&lt;key&gt;___PACKAGENAMEASIDENTIFIER___ExampleAction&lt;/key&gt;
	&lt;dict&gt;
		&lt;key&gt;actionClass&lt;/key&gt;
		&lt;string&gt;___PACKAGENAMEASIDENTIFIER___ActionProvider&lt;/string&gt;
		&lt;key&gt;actionSelector&lt;/key&gt;
		&lt;string&gt;performActionOnObject:&lt;/string&gt;
		&lt;key&gt;directTypes&lt;/key&gt;
		&lt;array&gt;
			&lt;string&gt;___PACKAGENAMEASIDENTIFIER___Type&lt;/string&gt;
		&lt;/array&gt;
		&lt;key&gt;icon&lt;/key&gt;
		&lt;string&gt;ToolbarAdvanced&lt;/string&gt;
	&lt;/dict&gt;
&lt;/dict&gt;
&lt;key&gt;QSRegistration&lt;/key&gt;
&lt;dict&gt;
	&lt;key&gt;QSActionProviders&lt;/key&gt;
	&lt;dict&gt;
		&lt;key&gt;___PACKAGENAMEASIDENTIFIER___ActionProvider&lt;/key&gt;
		&lt;string&gt;___PACKAGENAMEASIDENTIFIER___ActionProvider&lt;/string&gt;
	&lt;/dict&gt;
	&lt;key&gt;QSBundleChildHandlers&lt;/key&gt;
	&lt;dict&gt;
		&lt;key&gt;___PACKAGENAMEASIDENTIFIER___Type&lt;/key&gt;
		&lt;string&gt;___PACKAGENAMEASIDENTIFIER___Source&lt;/string&gt;
	&lt;/dict&gt;
	&lt;key&gt;QSObjectHandlers&lt;/key&gt;
	&lt;dict&gt;
		&lt;key&gt;___PACKAGENAMEASIDENTIFIER___Type&lt;/key&gt;
		&lt;string&gt;___PACKAGENAMEASIDENTIFIER___Source&lt;/string&gt;
	&lt;/dict&gt;
	&lt;key&gt;QSObjectSources&lt;/key&gt;
	&lt;dict&gt;
		&lt;key&gt;___PACKAGENAMEASIDENTIFIER___Source&lt;/key&gt;
		&lt;string&gt;___PACKAGENAMEASIDENTIFIER___Source&lt;/string&gt;
	&lt;/dict&gt;
	&lt;key&gt;QSPreferencePanesTemplate&lt;/key&gt;
	&lt;dict&gt;
		&lt;key&gt;___PACKAGENAMEASIDENTIFIER___PrefPaneTemplate&lt;/key&gt;
		&lt;dict&gt;
			&lt;key&gt;class&lt;/key&gt;
			&lt;string&gt;___PACKAGENAMEASIDENTIFIER___PrefPane&lt;/string&gt;
			&lt;key&gt;description&lt;/key&gt;
			&lt;string&gt;Preferences&lt;/string&gt;
			&lt;key&gt;icon&lt;/key&gt;
			&lt;string&gt;KEXT&lt;/string&gt;
			&lt;key&gt;name&lt;/key&gt;
			&lt;string&gt;___PACKAGENAMEASIDENTIFIER___&lt;/string&gt;
		&lt;/dict&gt;
	&lt;/dict&gt;
	&lt;key&gt;QSProxiesTemplate&lt;/key&gt;
	&lt;dict&gt;
		&lt;key&gt;___PACKAGENAMEASIDENTIFIER___SomeProxy&lt;/key&gt;
		&lt;dict&gt;
			&lt;key&gt;icon&lt;/key&gt;
			&lt;string&gt;GenericDocumentIcon&lt;/string&gt;
			&lt;key&gt;name&lt;/key&gt;
			&lt;string&gt;___PACKAGENAMEASIDENTIFIER___ Proxy&lt;/string&gt;
			&lt;key&gt;providerClass&lt;/key&gt;
			&lt;string&gt;___PACKAGENAMEASIDENTIFIER___Source&lt;/string&gt;
			&lt;key&gt;types&lt;/key&gt;
			&lt;array&gt;
				&lt;string&gt;___PACKAGENAMEASIDENTIFIER___Type&lt;/string&gt;
			&lt;/array&gt;
		&lt;/dict&gt;
	&lt;/dict&gt;
	&lt;key&gt;QSTypeDefinitions&lt;/key&gt;
	&lt;dict&gt;
		&lt;key&gt;___PACKAGENAMEASIDENTIFIER___Type&lt;/key&gt;
		&lt;dict&gt;
			&lt;key&gt;icon&lt;/key&gt;
			&lt;string&gt;GenericDocumentIcon&lt;/string&gt;
			&lt;key&gt;name&lt;/key&gt;
			&lt;string&gt;___PACKAGENAMEASIDENTIFIER___ Object&lt;/string&gt;
		&lt;/dict&gt;
	&lt;/dict&gt;
	&lt;key&gt;QSApplicationActionsTemplate&lt;/key&gt;
	&lt;dict&gt;
		&lt;key&gt;com.domain.application&lt;/key&gt;
		&lt;dict&gt;
			&lt;key&gt;___PACKAGENAMEASIDENTIFIER___ExampleCommand&lt;/key&gt;
			&lt;dict&gt;
				&lt;key&gt;actionClass&lt;/key&gt;
				&lt;string&gt;___PACKAGENAMEASIDENTIFIER___ActionSource&lt;/string&gt;
				&lt;key&gt;command&lt;/key&gt;
				&lt;string&gt;___PACKAGENAMEASIDENTIFIER___ExampleCommand&lt;/string&gt;
				&lt;key&gt;name&lt;/key&gt;
				&lt;string&gt;Application Action Example&lt;/string&gt;
			&lt;/dict&gt;
		&lt;/dict&gt;
	&lt;/dict&gt;
	&lt;key&gt;QSTriggerSetsTemplates&lt;/key&gt;
	&lt;dict&gt;
		&lt;key&gt;___PACKAGENAMEASIDENTIFIER___Triggers&lt;/key&gt;
		&lt;dict&gt;
			&lt;key&gt;icon&lt;/key&gt;
			&lt;string&gt;KEXT&lt;/string&gt;
			&lt;key&gt;name&lt;/key&gt;
			&lt;string&gt;___PACKAGENAME___&lt;/string&gt;
		&lt;/dict&gt;
	&lt;/dict&gt;
	&lt;key&gt;QSBundleChildHandlersTemplate&lt;/key&gt;
	&lt;dict&gt;
		&lt;key&gt;com.domain.application&lt;/key&gt;
		&lt;string&gt;___PACKAGENAMEASIDENTIFIER___Source&lt;/string&gt;
	&lt;/dict&gt;
	&lt;key&gt;QSCommandsTemplate&lt;/key&gt;
	&lt;dict&gt;
		&lt;key&gt;___PACKAGENAMEASIDENTIFIER___ExampleCommand&lt;/key&gt;
		&lt;dict&gt;
			&lt;key&gt;command&lt;/key&gt;
			&lt;dict&gt;
				&lt;key&gt;actionID&lt;/key&gt;
				&lt;string&gt;QSObjCSendMessageAction&lt;/string&gt;
				&lt;key&gt;directArchive&lt;/key&gt;
				&lt;dict&gt;
					&lt;key&gt;data&lt;/key&gt;
					&lt;dict&gt;
						&lt;key&gt;qs.action&lt;/key&gt;
						&lt;dict&gt;
							&lt;key&gt;actionClass&lt;/key&gt;
							&lt;string&gt;___PACKAGENAMEASIDENTIFIER___Source&lt;/string&gt;
							&lt;key&gt;actionSelector&lt;/key&gt;
							&lt;string&gt;someSelector&lt;/string&gt;
							&lt;key&gt;icon&lt;/key&gt;
							&lt;string&gt;defaultAction&lt;/string&gt;
							&lt;key&gt;name&lt;/key&gt;
							&lt;string&gt;Do Something&lt;/string&gt;
						&lt;/dict&gt;
					&lt;/dict&gt;
				&lt;/dict&gt;
				&lt;key&gt;directID&lt;/key&gt;
				&lt;string&gt;___PACKAGENAMEASIDENTIFIER___InternalCommand&lt;/string&gt;
			&lt;/dict&gt;
		&lt;/dict&gt;
	&lt;/dict&gt;
	&lt;key&gt;QSTriggerEventsTemplate&lt;/key&gt;
	&lt;dict&gt;
		&lt;key&gt;___PACKAGENAMEASIDENTIFIER___SomeEvent&lt;/key&gt;
		&lt;dict&gt;
			&lt;key&gt;icon&lt;/key&gt;
			&lt;string&gt;KEXT&lt;/string&gt;
			&lt;key&gt;name&lt;/key&gt;
			&lt;string&gt;Do something in response to this event&lt;/string&gt;
			&lt;key&gt;provider&lt;/key&gt;
			&lt;string&gt;___PACKAGENAMEASIDENTIFIER___Source&lt;/string&gt;
		&lt;/dict&gt;
	&lt;/dict&gt;
&lt;/dict&gt;
&lt;key&gt;QSPresetAdditionsTemplate&lt;/key&gt;
&lt;array&gt;
	&lt;dict&gt;
		&lt;key&gt;ID&lt;/key&gt;
		&lt;string&gt;QSPreset___PACKAGENAMEASIDENTIFIER___Group&lt;/string&gt;
		&lt;key&gt;children&lt;/key&gt;
		&lt;array&gt;
			&lt;dict&gt;
				&lt;key&gt;ID&lt;/key&gt;
				&lt;string&gt;QSPreset___PACKAGENAMEASIDENTIFIER___Example&lt;/string&gt;
				&lt;key&gt;name&lt;/key&gt;
				&lt;string&gt;Items from ___PACKAGENAME___&lt;/string&gt;
				&lt;key&gt;source&lt;/key&gt;
				&lt;string&gt;___PACKAGENAMEASIDENTIFIER___Source&lt;/string&gt;
			&lt;/dict&gt;
		&lt;/array&gt;
		&lt;key&gt;icon&lt;/key&gt;
		&lt;string&gt;KEXT&lt;/string&gt;
		&lt;key&gt;name&lt;/key&gt;
		&lt;string&gt;___PACKAGENAME___ Presets&lt;/string&gt;
		&lt;key&gt;source&lt;/key&gt;
		&lt;string&gt;QSGroupObjectSource&lt;/string&gt;
	&lt;/dict&gt;
&lt;/array&gt;
&lt;key&gt;QSTriggerAdditionsTemplate&lt;/key&gt;
&lt;array&gt;
	&lt;dict&gt;
		&lt;key&gt;ID&lt;/key&gt;
		&lt;string&gt;___PACKAGENAMEASIDENTIFIER___Trigger&lt;/string&gt;
		&lt;key&gt;command&lt;/key&gt;
		&lt;string&gt;___PACKAGENAMEASIDENTIFIER___ExampleCommand&lt;/string&gt;
		&lt;key&gt;defaults&lt;/key&gt;
		&lt;dict&gt;
			&lt;key&gt;characters&lt;/key&gt;
			&lt;string&gt;x&lt;/string&gt;
			&lt;key&gt;keyCode&lt;/key&gt;
			&lt;integer&gt;124&lt;/integer&gt;
			&lt;key&gt;modifiers&lt;/key&gt;
			&lt;integer&gt;9961768&lt;/integer&gt;
			&lt;key&gt;type&lt;/key&gt;
			&lt;string&gt;QSHotKeyTrigger&lt;/string&gt;
		&lt;/dict&gt;
		&lt;key&gt;name&lt;/key&gt;
		&lt;string&gt;Example Trigger&lt;/string&gt;
		&lt;key&gt;set&lt;/key&gt;
		&lt;string&gt;___PACKAGENAMEASIDENTIFIER___&lt;/string&gt;
	&lt;/dict&gt;
&lt;/array&gt;
&lt;key&gt;QSRequirementsTemplate&lt;/key&gt;
&lt;dict&gt;
	&lt;key&gt;plugins&lt;/key&gt;
	&lt;array&gt;
		&lt;dict&gt;
			&lt;key&gt;id&lt;/key&gt;
			&lt;string&gt;com.qsapp.Another.PlugIn&lt;/string&gt;
			&lt;key&gt;name&lt;/key&gt;
			&lt;string&gt;Another Plug-in&lt;/string&gt;
		&lt;/dict&gt;
	&lt;/array&gt;
&lt;/dict&gt;
</string>
		<key>bltrversion</key>
		<dict>
			<key>Path</key>
			<string>bltrversion</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Configuration</key>
		<dict>
			<key>Path</key>
			<string>/tmp/QS/Configuration</string>
			<key>PathType</key>
			<string>Absolute</string>
		</dict>
	</dict>
</dict>
</plist>
